<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">All Accounts</h4>
                    <div class=" category">Click on an account to go to details page.</div>
                    <div class="pull-right">Add Account<i (click)="addUser()" class="fa fa-plus"></i></div>
                </div>

                
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="cursor: pointer;" (click)="goToUserDetails(user.accountId)" *ngFor="let user of usersList">
                                <!-- <td *ngFor="let cell of row">{{cell}}</td> -->
                                <!-- <td>{{user.userId}}</td> -->
                                <td>{{user.name}}</td>
                                <td>{{user.email1}}</td>
                                <td>{{user.mobile1}}</td>
                                <td>{{user.qualification}}</td>
                                <td>{{user.occupation}}</td>
                                <td>{{user.income}}</td>
                                <td>{{user.height}}</td>
                                <td>{{user.weight}}</td>
                                <td>{{user.city}}</td>
                                <td>{{user.details}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


        <!-- <div class="col-md-12">
            <div class="card card-plain">
                <div class="header">
                    <h4 class="title">Table on Plain Background</h4>
                    <p class="category">Here is a subtitle for this table</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData2.dataRows">
                                <td *ngFor="let cell of row">{{cell}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->
    </div>
</div>
